article{
    background-color: #FFECB3;
    font-size: 16px;
    color: #333;
}

article.featured{
    background-color: #FFD54F;
    font-weight: bold;
    border: 2px solid #FFA000;
}

article p {
    line-height: 1.5;
    font-style: italic;
}

.address{
    font-size: 14pt;
}

#Right{
    text-align: right;
}

h1{
    text-align: center;
}

img{
    margin: 0 auto;
}

@keyframes example {
    from {background-color: blue;}
    to {background-color: green;}
  }
  
  div.box {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 6s;
  }